/* App.css */

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
  border-collapse: collapse;
  font-size: 12px;
}

table td {
  padding: 0.5rem;
  line-height: 1.2;
  border: 1px solid #9ca5ad;
  text-align: left;
}

td:first-child {
  width: 30%;
}
